extends layout

block content
  h1 Rework

  p.
    The <a href="https://github.com/visionmedia/rework">rework</a> web service 
    to pre-process your stylesheets with vendor prefixes, CSS variable support,
    retina image support and more.

  pre
    code
      $ curl -F style=@style.css